.evidence1 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCiuqhhAKgqNUo0pg-fWuq6pcNMu_sxTlkESV7rIJ2cVyEjrwbeuEImDxOwaEtyhHnSE2q2M6o-dpxRX0xXG8E76Iha9Amzc_fZ7csmE6suOEsqc9GYQYH1S-ZimNcwLZu7c8HmMfwzTQaEDkgquOySYQ_RkVpnIaarT0GcNOtqrBi8c7UmsL5CjCTn4MW4e0Ekd9xwx6uWDHjP6IIsBNByWI012VM-yQfV3BAlDzXNI-OMkDP2GFy5");
  background-size: cover;
  background-position: center;
}
.evidence2 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDGpUwZBeqkrLFVk9DP0z4Wf7MFGBxFnSMlylz44nYJQADVTFrInRBvfLkI_NElQ8o9zT4r4K2PT4X0ck0FdrSFspekCK9_WQRFkwB3QWFxS9Ej5sEIP8a4Oc191zv_IN8_ymxsNm8K_JgJ2tN_7ZBFpyM7RXyUM6sRdA5bMtv1rbM_ZwR6szOhBfJL3KRWutymaLuYfU4BXUouqa_56Vfex0Rj99C4gY0QCFa88jsA1yeqrLm3uNEl");
  background-size: cover;
  background-position: center;
}
